<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Novocare EMRS</title>
    </head>
    
    <header>
        <h1>Novocare EMRS</h1>
        
        <nav id="user-nav">
            <%if(!user) {%>
                <a href="/users/login">Login</a>
            <%} else {%>
                <a href="/trades/newTrade">Create Appointment</a>
                <!-- <a href="/trades">All Appointments</a>
                <a href="/patients">All Patients</a> -->
                <a href="/users/profile">My Dashboard</a>
                <strong><a href="/users/profile"><img id="account-user-icon" src="/images/account_user.png" alt="account user icon" width="20" height="20"></a><%= user.firstName%> <%= user.lastName%></strong>
                <a href="/users/logout">Logout</a>
            <%}%>
        </nav>

        <nav id="main-nav">
            <a href="/">Home</a>
        </nav> 
    </header>

    <%if(errorMessages.length > 0) {
        errorMessages.forEach(message=>{%>
            <div class = 'error'><%=message%></div>
        <%});
    }%>

    <%if(successMessages.length > 0) {
        successMessages.forEach(message=>{%>
            <div class = 'success'><%=message%></div>
        <%});
    }%>
    
    