<%- include('./partials/header.ejs')%>
    <body>
        <article>
            <h1><%= error.status%> Error</h3> 
            <p><%= error.message%></p>
        </article>
    <%- include('./partials/footer.ejs')%>