<%- include('./partials/header.ejs')%>    
    <body>
        <article style="text-align:center">
            <h1> Welcome to the Novocare Electronic Medical Records System (EMRS) </h1>
            <%if(user) {%>
            <table class="center">
                <tr>
                    <td><a href="/users/profile"><img id="dashboard-icon" src="/images/dashboard.png" alt="dashboard icon" width="48" height="48"></a></td>
                    <!-- <td><a href="/appts/newTrade"><img id="dashboard-icon" src="/images/dashboard.png" alt="dashboard icon" width="48" height="48"></a></td> -->
                    <td><a href="/patients"><img id="patient-list-icon" src="/images/patient_list.png" alt="patient list icon" width="48" height="48"></a></td>
                    <td><a href="/appts"><img id="dashboard-icon" src="/images/dashboard.png" alt="dashboard icon" width="48" height="48"></a></td>
                </tr>
                <tr>
                    <td><small>Dashboard</small></td>
                    <!-- <td><small>Create Appointment</small></td> -->
                    <td><small>All Patients</small></td>
                    <td><small>All Appointments</small></td>
                </tr>
            </table>
            <%}%>
        </article>
<%- include('./partials/footer.ejs')%>