<%- include('./partials/header.ejs')%>    
    <body>
        <article style="text-align:center">
            <h1> Welcome to the Novocare Electronic Medical Records System (EMRS) </h1>
            <p></p>
        </article>
        <%- include('./partials/footer.ejs')%>