<%- include('./partials/header.ejs')%>  
    <body>
        <article>
        <section>
            <h2>Kid's Shoes</h2>
            <ul>
                <li><a href="/trade">Vans Checkerboard Slip-On (Black/Gray)</a></li>
                <li><a href="/trade">New Balance FuelCore Reveal BOA (Black)</a></li>
                <li><a href="/trade">Adidas Swift Run J Sneaker (Black/White)</a></li>
            </ul>
        </section>
        
        <section>
            <h2>Men's Shoes</h2>
            <ul>
                <li><a href="/trade">Nike Air Force 1 '07 (White)</a></li>
                <li><a href="/trade">Vans Skate Sk8-Hi (Black)</a></li>
                <li><a href="/trade">Hush Puppies Plain Toe Oxford (Brown)</a></li>
            </ul>
        </section>

        <section>
            <h2>Women's Shoes</h2>
            <ul>
                <li><a href="/trade">Adidas Cloudfoam Pure (White)</a></li>
                <li><a href="/trade">Steve Madden Irenee Ankle Strap Sandal (Black)</a></li>
                <li><a href="/trade">Nike Air Force 1 Shadow</a></li>
            </ul>
        </section>
        </article>
        <%- include('./partials/footer.ejs')%>